**Coursebook: Exploratory Data Analysis**

- Part 2 of Large-scale Data Processing with PySpark for DBS
- Durasi: 9 jam
- *Last Updated*: January 2024

---

## Training Objectives

Dalam workshop ini, kami akan berfokus pada serangkaian metode pembelajaran *Data Processing with PySpark*. Adapun beberapa *module* yang disediakan antara lain:

- **Frequency tables in PySpark SQL**
    - Higher dimensional table
    - Data aggregation
- **Dealing with untidy data**
    - Checking NaN values
    - Missing values treatment
    - Removing duplicates value
- **Calculation in PySpark**
    - Feature engineering in PySpark
    - Extract information from datetime

# Introduction

## Apa itu EDA?
Exploratory Data Analysis (EDA) adalah suatu proses untuk melakukan eksplorasi lebih jauh terhadap data, seperti:
- melihat struktur data, 
- melihat sebaran data,
- menyesuaikan bentuk tipe data untuk analisis lebih lanjut.

Ini juga dapat membantu menentukan apakah teknik statistik yang Anda pertimbangkan untuk analisis data sudah sesuai. Awalnya dikembangkan oleh matematikawan Amerika John Tukey pada 1970-an, teknik EDA terus menjadi metode yang banyak digunakan dalam proses penemuan data saat ini.

## Mengapa EDA penting?
Tujuan utama EDA adalah untuk membantu melihat data sebelum membuat asumsi apa pun.
- Ini dapat membantu mengidentifikasi kesalahan yang jelas,
- serta lebih memahami pola dalam data,
- mendeteksi outlier atau kejadian anomali,
- menemukan hubungan yang menarik antara variabel.

Ilmuwan data dan Analis Data dapat menggunakan analisis eksplorasi untuk:
- memastikan hasil yang mereka hasilkan valid dan berlaku untuk setiap hasil dan tujuan bisnis yang diinginkan,
- membantu pemangku kepentingan dengan mengonfirmasi bahwa mereka mengajukan pertanyaan yang tepat
- EDA selesai dan wawasan diambil, fitur-fiturnya kemudian dapat digunakan untuk analisis atau pemodelan data yang lebih canggih, termasuk pembelajaran mesin

# Problem Statement

üîª Anda merupakan seorang data analyst yang diberi sebuah data tabular berformat `.csv`. Anda diminta untuk melakukan eksplorasi terhadap data tersebut hingga mendapatkan insight-insight bisnis yang dapat anda ceritakan kepada orang lain atau rekan Anda.

# Data Preparation

üîª Hal pertama yang harus dilakukan adalah menghubungkan PySpark dengan sumber data yang akan diolah. Dalam hal ini kita tetap menggunakan `loan-missing.csv` berisi informasi peminjaman nasabah pada sebuah bank.

Untuk menghubungkan PySpark dengan sumber data, kita akan menggunakan cara yang telah dipelajari di couse sebelumnya mulai dari mengimport `pyspark` hingga pembacaan data menggunakan pyspark.

In [ ]:
# import library
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [ ]:
# membuat SparkSession
spark = ___

# membaca file CSV
loan = ___

# menampilkan dataframe
loan.____

üîª Lakukan investigasi awal untuk melihat struktur data terhadap object DataFrame dengan menggunakan method:
-  `df.count()` : untuk mendapatkan jumlah baris
-  `len(df.columns)`: untuk mendapatkan jumlah kolom

In [ ]:
# jumlah baris

In [ ]:
# jumlah kolom

Selanjutnya perlu dilakukan inspeksi tipe data untuk memastikan tipe data setiap kolomnya telah tepat sehingga akan memudahkan dalam proses lanjutan dalam pengolahan data.

üí° Mengecek tipe data di PySpark: `df.printSchema()`

In [ ]:
# code here

## Perubahan Tipe Data (Datetime)

Ketika melakukan analisis data, merubah ke tipe data datetime penting dengan manfaat dapat ekstraksi informasi waktu, pengurutan datetime yang akurat serta filtering rentang waktu dengan mudah.

Untuk merubah kolom ke tipe data datetime:

```python
df = df.withColumn('issue_d', to_date(df['date_column'], format='dd/MM/yyyy'))
```

Notes: parameter `format` mengikuti format kolom tanggal awal.
- y = tahun (contoh: 2020; 20)
- M = bulan, numerik (contoh: 7; 07)
- L = bulan, string (contoh: Jul; July)
- d = tanggal (contoh: 28)

Simbol lebih lengkap: [Apache Spark Datetime Pattern](https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html)

**Format** yang tepat untuk `issue_d`?

>

In [ ]:
# merubah ke date berdasarkan format

## Partisi Datetime

Setelah melakukan konversi tipe data menjadi bentuk `datetime`, kita dapat melakukan partisi untuk menggali informasi yang lebih spesifik seperti tahun, bulan, hari, dan jam. <br>

**Date component (numeric):**
- `year(df['date_column'])` -> partisi tahun
- `month(df['date_column'])` -> partisi bulan
- `day(df['date_column'])` -> partisi tanggal
- `quarter(df['date_column'])` -> partisi kuarter

**Date component (string):**
- `date_format(df['date_column'], format)` -> partisi sesuai [format](https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html)

**A. partisi `year(df['date_column'])`**

üîªSemisal kita diminta untuk menganalisis karakteristik nasabah berdasarkan **tahun**. Kita dapat membuat kolom baru dengan mengekstrak tahun dari kolom `issue_d`.

In [ ]:
# Ekstrak Tahun

**B. partisi `month(df['date_column'])`**

üîªSemisal kita diminta untuk menganalisis karakteristik nasabah berdasarkan **bulan**. Kita dapat membuat kolom baru dengan mengekstrak **bulan** dari kolom `issue_d`.

In [ ]:
# Ekstrak Bulan

**C. partisi `date_format(df['date_column', format])`**

üîªSemisal kita diminta untuk membuat kolom baru dengan informasi nama hari seperti "Thu, 01-12-2011".

Sehingga format yang digunakan adalah `E, dd-MM-yyyy`, dimana:
- `E`: nama hari (contoh: Mon, Tue), gunakan format `EEEE` untuk nama hari tidak disingkat
- `d`: tanggal
- `M`: bulan
- `y`: tahun

In [ ]:
# Ekstrak Hari

# Analisis Data

Dalam melakukan analisis data. Terdapat pertanyaan-pertanyaan seperti:

- Berapa jumlah customer kita yang memiliki kategori `interest_payment` HIGH?
- Berapa rata-rata income untuk setiap kategori di `loan_condition`
- Berapa total pinjaman pada tahun 2011?
- dan lain-lain.

Pertanyaan-pertanyaan tersebut dapat dijawab dengan melakukan **agregasi tabel**. Agregasi tabel adalah tabel hasil pengelompokkan dengan nilai-nilai statistik seperti jumlah, rata-rata, kemunculan, dan lain sebagainya.

Untuk melakukan agregasi table di `pyspark` terdapat 2 cara, antara lain:
- `df.crosstab()`
- `df.groupby()`

## Crosstab()

üîª**Contoh kasus:** sebagai data analis, kita diminta untuk menghitung jumlah customer `BAD LOAN` yang diberikan interest `HIGH`.

Untuk menjawab pertanyaan ini, kita dapat menggunakan `.crosstab()`. Fungsi `.crosstab()` di pyspark untuk menghitung jumlah kemunculan dari 2 kolom kategori yang berbeda.

**Syntax:**

```python
df.crosstab("kategori_1", "kategori_2")
```

Untuk menjawab pertanyaan tersebut, mari memilih kolom yang diperlukan.
> `interest_payment`, `loan_condition`

In [ ]:
# Melihat kolom-kolom yang diperlukan

In [ ]:
# melakukan crosstab

**Insight:**

`crosstab()` hanya dapat untuk menghitung frekuensi dari 2 kolom kategori. Namun bagaimana jika yang ingin dihitung untuk 1 kategori? atau bahkan menghitung rata-rata nilai numerik dari kolom kategori tertentu?

Permasalahan di atas dapat diselesaikan oleh `groupBy()`

## groupBy()

Untuk membuat tabel agregasi, kita dapat menggunakan fungsi `groupBy()` diikuti dengan fungsi agregasi yang mau kita hitung.

üîª Sebagai data analis, kita diminta untuk menghitung customer untuk masing-masing kategori di `home_ownership`.

**Syntax** `groupBy()`

```python
df.groupBy('kolom_kategori').FUNC()
```

Dimana `.FUNC()` bisa berupa:
- `.count()`: untuk menghitung jumlah kemunculan
- `.sum()`: jumlah semua kolom numerik / `.sum('kolom_numerik')` untuk jumlah kolom tertentu.
- `.avg()`: rata-rata semua kolom numerik / `.avg('kolom_numerik')` untuk jumlah kolom tertentu.

In [ ]:
# code here

üîª Sebagai data analis, kita diminta untuk menghitung rata-rata `loan_amount` dan `annual_inc` untuk customer dengan kondisi loan BAD dan GOOD.

In [ ]:
# code here

**Insight:**

Dari hasil di atas, kita akan mendapatkan semua rata-rata dari kolom numerik. Bagaimana jika kita ingin menghitung salah satu kolom saja? semisal rata-rata `annual_inc` untuk customer GOOD loan dan BAD loan.

In [ ]:
# code here

## agg()

Misalkan kita ingin membuat tabel agregasi dengan `.FUNC()` yang berbeda-beda untuk masing-masing kolom berupa:
- rata-rata untuk `annual_inc`
- jumlah untuk `loan_amount` dan `total_pymnt`

Untuk mendapatkan hasil tersebut, kita harus melakukan chaining `groupBy` dengan method `agg()`. Kita harus menyertakan mapping (**dictionary**) untuk setiap kolom dengan fungsi agregasinya seperti berikut:

**Syntax:**
```python
df.agg({
    'nama_kolom': 'fungsi_agregasi',
    'nama_kolom2': 'fungsi_agregasi'
})
```

In [ ]:
# code here

# Untidy Data

Dalam melakukan pengolahan data, tidak semua data yang kita miliki adalah data yang "tidy". Ada kemungkinan bahwa data kita memiliki nilai kosong (NULL), memiliki nilai yang berulang, dan memiliki nilai yang tidak sesuai dengan nilai variable yang seharusnya (misal usia memiliki nilai minus). Untuk mengatasi hal tersebut, kita dapat melakukan beberapa metode penanganan pada data yang hilang (missing value) atau data yang duplikat (duplicates value). 

Penanganan data yang hilang atau data yang duplikat menjadi hal yang penting guna memberikan analisa dan insight yang lebih akurat.

## Missing Value

### Checking Missing Value

Untuk mengecek missing values apakah terdapat pada setiap kolom dapat menggunakan 2 cara berikut:
- `.inferSchema()`
- `df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()`

In [ ]:
# cara 1

Dapat terlihat bahwa semua kolom memiliki missing value. 

Untuk menghitung berapa jumlah missing value di setiap kolomnya dapat menggunakan cara 2.

In [ ]:
# cara 2
loan.select([count(when(col(c).isNull(), c)).alias(c) for c in loan.columns]).show()

### Treatment Missing Values

Beberapa cara umum untuk menangani missing values:

1. Hapus baris atau kolom: Menggunakan metode `.dropna()`
2. Imputasi nilai NA dengan sebuah nilai
3. Tetap mempertahankan missing value

### Remove Missing Values

Membuang nilai missing dilakukan dengan fungsi `dropna()`. Secara default, `dropna()` akan menghapus semua baris yang terdapat nilai missingnya. Adapun parameter `.dropna()` antara lain:

- `.dropna(how='any')`: hapus baris apabila memiliki **minimal 1 kolom** nilai missing value

- `.dropna(how='all')`: harus baris apabila memiliki **semua kolom** nilai missing

- `.dropna(thresh=...)`: hapus baris apabila nilai **non-missing** < `thresh`

In [ ]:
# how="all"

Karena jumlah kolom=29. Sehingga kita ingin minimal 90% (26) data harus terisi

In [ ]:
# thresh=7

> Terlihat index 5, 7, dan 12 telah terhapus karena jumlah kolom yang notnull di bawah `threshold`. Index 8 masih memiliki missing value tapi tidak di-drop.

In [ ]:
# how="any"

> Terlihat bahwa semua baris yang mengandung missing value akan dihapus. Contoh 5,7,8,12.

### Impute Missing Values

Kita akan melakukan imputasi terhadap data yang mengandung missing value, menggunakan metode `.fillna()`

üí° **Tips** untuk imputasi:

Untuk kolom numerik:

- Isi menggunakan pusat data seperti `mean` atau `median`

Untuk kolom kategorikal:

- Menggunakan `NA` sebagai salah satu dari kategori
- Isi menggunakan pusat data (mode)

Untuk kolom datetime:

- Menggunakan metode [`bfill`](https://spark.apache.org/docs/latest/api/python/reference/pyspark.pandas/api/pyspark.pandas.DataFrame.bfill.html): melakukan imputasi dari baris bawah ke atas
- Menggunakan metode [`ffill`](https://spark.apache.org/docs/latest/api/python/reference/pyspark.pandas/api/pyspark.pandas.DataFrame.ffill.html): melakukan imputasi dari baris atas ke bawah

**Case 1**
Misalkan kita ketahui bahwa nilai missing pada `purpose` menjadi "other". `income_category` menjadi "Low" serta `income_cat` menjadi 1.0 dengan asumsi customer yang datanya tidak lengkap maka dianggap menjadi berpenghasilan rendah.

In [ ]:
# code here

**Case 2** Misalkan kita ingin mengisi **interest_rate** yang NULL dengan nilai rata-rata interest rate dari seluruh customer.

In [ ]:
# Mencari rata-rata untuk interest_rate

In [ ]:
# Mengisi interest rate dengan nilai rata-rata

### [Opt] Imputer

Selain menggunakan cara-cara di atas, pyspark menyediakan metode khusus untuk melakukan imputasi missing value dengan bantuan `Imputer()`. Dengan menggunakan `Imputer()` kita bisa langsung memilih nilai apa yang mau kita hitung dari 3 nilai yaitu **mean, median, dan modus**. Hal yang perlu diperhatikan adalah penggunaan `Imputer()` hanya bisa digunakan pada data atau kolom numerik saja

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
imputer = Imputer(
    strategy='mean',
    inputCols=['loan_amount'],
    outputCols=['loan_amount']
)
imputer.fit(loan).transform(loan).show()

Pada kelas ini, kita akan drop semua baris yang memiliki missing values pada data kita. Maka dari itu digunakan `dropna()` dengan nilai default dan akan menyimpan ke dataframe `loan_clean`

In [ ]:
loan_clean = loan.dropna()

loan_clean.show()

In [ ]:
loan.count() - loan_clean.count()

Terdapat 10rb dari 722rb data yang didrop karena memiliki missing value.

## Duplicated Data

Untuk menghilangkan duplikat pada dataframe, kita bisa menggunakan fungsi `.dropDuplicates()` atau hanya mengambil nilai uniknya saja.

## Checking Duplicate

Pertama, mari kita lihat baris-baris yang memiliki nilai duplikat di data kita. Untuk melihatnya dapat menggunakan:

**Syntax:**
```python
df.exceptAll(df.dropDuplicates()).show()
```

In [ ]:
# code here

## Handling Duplicate

Pada data kita masih belum terdapat nilai duplikat. Namun, jika nantinya terdapat nilai duplikat, maka dapat drop nilai duplicated dapat `.dropDuplicates()`.

**Syntax:**
```python
df.dropDuplicates()
```

In [ ]:
# code here

Fungsi tersebut akan mempertimbangkan semua kolom untuk melihat apakah ada nilai yang duplikat atau tidak. 
Apabila kita hanya ingin mempertimbangkan kolom tertentu saja maka bisa menambahkan parameter subset

**Syntax:**
```
df.dropDuplicates(subset = ['kolom_1', 'kolom_2'])
```

**Case:** Semisal kita ingin membuang nilai baris yang kolom `id`, `issue_d`, dan `loan_amount`nya secara bersamaan bernilai duplikat dengan asumsi terdapat duplikat input untuk customer yang sama di hari yang sama.

In [ ]:
# code here

‚ö†Ô∏è Warning: Duplikat dapat berarti hal yang berbeda dari sudut pandang data dan sudut pandang analis bisnis. Anda harus ekstra berhati-hati apakah data duplikat memang merupakan karakteristik dari data Anda, atau apakah itu merupakan sebuah kesalahan input data berdasarkan logika bisnisnya.